*.db
*.pyc
*.pyo
web/docs/*
/.svn/
/bin/
/local/
/include/
/lib/
/share/
web/src/pages/templates/pages/email-blueprints/*
web/src/pages/templates/email-blueprints/.git/*
*local_settings.py
media/*
*Lib*
*Include*
*.git/
*.pem
/.Python
/.project
/.pydevproject
*.serverinfo
*.DS_Store
staticfiles/
*.idea*
*pygraphviz*
*.exe
/script.sh
build/
*.log
*.egg-info
*.egg
*robots.txt
install/
venv/
newrelic.ini
venv36/
/media/*
/assets/*
/static/*
ftp_files/*
celerybeat-schedule
venv/
env/
